$primary: #fba822;
$primary-overlay: rgba(251, 168, 34, 0.8);
$dark-overlay: rgba(8, 8, 8, 0.9);

body {
  margin-top: 105px;
}

.navbar {
  box-shadow: 2px 2px 5px $primary;
  opacity: 0.9;
  background: #fff;

  .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem;
  }
}

#showcase {
  position: relative;
  background: url('../img/mountains.jpg');
  height: 600px;

  .primary-overlay {
    background: $dark-overlay;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.about-header {
  width: 50%;
  margin: auto;
  border-bottom: 2px solid #ddd;
}

// .accordion-button{
//   display:block;
// }

@media (max-width: 768px) {
  #showcase {
    min-height: 500px;

    h1 {
      font-size: 4rem;
    }
  }
}
